INSTALL
Makefile.in
aclocal.m4
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
ltmain.sh
missing
mkinstalldirs
Makefile
autom4te.cache/
config.h
config.log
config.status
data/Makefile
data/*.gschema.valid
data/*.gschema.xml
libtool
/m4
po/.intltool-merge-cache
po/Makefile
po/Makefile.in.in
po/POTFILES
po/stamp-it
po/*.gmo
src/.deps/
src/.libs/
src/Makefile
src/*.la
src/*.lo
stamp-h1
mate-file-manager-sound-converter-*.tar.xz
